.flexbox2col-left {
  color: black;
  width: 90%;
  margin-left: 4em;
  display: block;
  margin-right: 4em;
}
.flexbox2col-right {
  color: black;
  width: 90%;
  margin-left: 4em;
  margin-right: 4em;
  display: block;
}

.wrapper2col-left {
  text-align: right;
}
.flexbox-wrapper2, .flexbox-wrapper4, .flexbox-footer-wrapper  {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexbox-footer-wrapper {
  text-align: center;
}
.flexbox-wrapper4 {
  flex-wrap: wrap;
}
.flexbox2col-rightv2  {
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: 2em;
  display: block;
}
.flexbox2col-leftv2 {
  color: black;
  width: 90$;
  margin-left: 2em;
  margin-right: auto;
  display: block;
}
.flexbox4col {
  width: 90%;
  display: block;
}
.flexbox4col a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}
.flexbox4col p {
  font-size: 1em;
  color: black;
  margin-bottom: 0em;
}
.flexbox4col a:hover {
  text-decoration: underline;
}
.flexbox-wrapper4  {
  text-align: center;
}
.flexbox3col h7 {
  margin-left: 1em;
  margin-right: 1em;
}
.flexbox3col {
  color: black;
  width: 90%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  background-color: #2B7A78;
}
.flexbox3col h2, .flexbox3col h6 {
  padding-left: 1em;
  padding-right: 1em;
}
.flexbox3col h1, .flexbox3col h3  {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#section4-sides {
  background-color: #3AAFA9;
}
.footer-box {
  width: 25em;
  color: white;
  margin-left: 4em;
}
.flexbox-wrapper4 button  {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 1em;
  padding-right: 1.5em;
  background-color: #17252A;
  color: white;
  border-radius: 0.5em;
  margin-bottom: 1em;

}
.flexbox-2eqcol
{
  width: 90%;
  display: block;
  text-align: center;
  margin: 0;
  background-color: #d8ebe9;
  margin-left: 1em;
  margin-right: 1em;
}
.flexbox-2eqcol img {
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1em;
}
.flexbox-2eqcol .button {
  margin-bottom: 1em;
}
.flexbox-2eqcol p, .flexbox-2eqcol h2, .flexbox-2eqcol h3 {
  margin-left: 1em;
  margin-right: 1em;
}
