.flexbox2col-left {
  color: black;
  width: 60em;
  margin-left: 2em;
  margin-right: auto;
  display: block;
}
.flexbox2col-right {
  color: black;
  width: 25em;
  margin-left: auto;
  margin-right: 2em;
  display: block;
}
.flexbox-wrapper2, .flexbox-wrapper4, .flexbox-footer-wrapper  {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.flexbox-wrapper4 {
  flex-wrap: wrap;
}
.flexbox2col-rightv2  {
  color: black;
  width: 60em;
  margin-left: auto;
  margin-right: 2em;
  display: block;
  border-left: 0.125em solid black;
}
.flexbox2col-leftv2 {
  color: black;
  width: 60em;
  margin-left: 2em;
  margin-right: auto;
  display: block;
}
.flexbox-wrapper4  {
  text-align: center;
}
.flexbox3col {
  color: black;
  width: 33%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  background-color: #2B7A78;
}
.flexbox3col h1, .flexbox3col h3  {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#section4-sides {
  background-color: #3AAFA9;
}
.footer-box {
  width: 25em;
  color: white;
  margin-left: 4em;
}
.flexbox-wrapper4 button  {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 1em;
  padding-right: 1.5em;
  background-color: #17252A;
  color: white;
  border-radius: 0.5em;
  margin-bottom: 1em;

}
.twoequalcol-flexbox
{
  width: 30em;
  display: block;
}
