p.top {
  border-top: 0.125em solid var(--footer-text-color);
}
footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer h5 {
  font-weight: 250;
}
footer  {
  background-color: var(--page-footer-color);
  color: var(--footer-text-color);
}
footer {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}
footer p.top  {
  padding-top: 0.5em;
}
footer p.bottom {
  padding-top: 0.2em;
  margin-bottom: 0px;
}
footer button {
  padding: 14px 16px;
  color: black;
  border-radius: 0.5em;
  border: 0.125em solid var(--button-color);
}
footer button:hover {
  background-color: var(--button-color);
  color: white;
}
footer img {
  padding-top: 1em;
  width: 5%;
}
footer:before, footer:after {
  content: "";
  display: table;
  line-height: 0;
}
footer:after {
  clear: both;
}
footer .flexbox4col a{
  color: var(--footer-text-color);
}
footer h4 {
  font-style: italic;
  color: var(--footer-text-color);
  font-size: 1.3em;
  font-weight: 450;
}
