input.standard {
  border-bottom: 0.125em solid black;
  width: 90%;
}
div.section3-right form {
  margin-left: 0.5em;
}
textarea  {
  width: 90%;
  border: 0.125em solid black;
}
.form-button-left, .form-button-right {
  background-color: #17252A;
  color: white;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 1em;
  padding-right: 1.5em;
  border-radius: 0.5em;
  margin-top: 0.25em;
}
.form-button-left:hover, .form-button-right:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}
.form-button-right {
  margin-left: 2em;
}
form {
  margin-left: 4em;
}
