@import "https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Raleway|Gudea|Belleza";
/* Does a hard reset of the webpage so the white space at the top is eliminated */
/* * is fancy HTML5 attribute that selects every element */
*  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}
.notice {
  text-align: center;
  /*color: #ff424f;*/
  color: var(--page-navbar-text-color);
  margin-left: 2em;
  margin-right: 2em;
  background-color: black;
  padding-top: 0em;
  padding-bottom: 0em;
}
.heading-sub  {
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}
.heading-mission  {
  float: left;
  margin-left: 2em;
  margin-right: 2em;
}

table {
  margin-left: auto;
  margin-right: auto;
}
th {
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 20px;
}
tbody tr {
  height: 5em;
}
thead tr {
  height: 1.5em;
  font-weight: 200;
}
body {
  background-color: var(--page-bg-color);
  margin: 0;
}
.member-month {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.carousel-control-next, .carousel-control-prev {
  opacity: 0.7;
}

:root {
  --page-bg-color: #d8f2f6;
  --page-navbar-text-color: #ecf7f9;
  --page-navbar-color: #2B7A78;
  --page-footer-color: #45a29e;
  --button-color: #0b0c10;
  --side-menu-color: #45A29E;
  --equal-flexbox-color: #b5d8f2;
  --notice-bg-color: black;
  --carousel-caption-text-color: gray;
  --footer-text-color: #17252A;
  --normal-flexbox-bg-color: #2B7A78;
}
img.img-fluid:hover {
  opacity: 0.5;
}
/*
:root {
  --page-bg-color: #DEF2F1;
  --page-navbar-text-color: #cccccc;
  --page-navbar-color: #2B7A78;
  --page-footer-color: #2B7A78;
  --button-color: #17252A;
  --side-menu-color: #3AAFA9;
  --equal-flexbox-color: #d8ebe9;
  --notice-bg-color: black;
  --carousel-caption-text-color: gray;
  --footer-text-color: #17252A;
  --normal-flexbox-bg-color: #2B7A78;
}
*/
/*
Black blue emphasis color scheme
--page-bg-color: #45A29E;
--page-navbar-text-color: #cccccc;
--page-navbar-color: #1F2833;
--page-footer-color: #1F2833;
--button-color: #0B0C10;
--side-menu-color: #C5C6C7;
--equal-flexbox-color: #d8ebe9;
--notice-bg-color: black;
--carousel-caption-text-color: gray;
--footer-text-color: #17252A;
--normal-flexbox-bg-color: #1F2833;
*/

/*
Blue color scheme
--page-bg-color: #8fc1e3;
--page-navbar-text-color: #cccccc;
--page-navbar-color: #31708E;
--page-footer-color: #31708E;
--button-color: #17252A;
--side-menu-color: #5085A5;
--equal-flexbox-color: #d8ebe9;
--notice-bg-color: black;
--carousel-caption-text-color: gray;
--footer-text-color: #17252A;
--normal-flexbox-bg-color: #687864;
*/
