@import "https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap";
/* Does a hard reset of the webpage so the white space at the top is eliminated */
/* * is fancy HTML5 attribute that selects every element */
*  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}
.notice {
  text-align: center;
  color: #ff424f;
  margin-left: 2em;
  margin-right: 2em;
  background-color: black;
}
.heading-sub  {
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}
.heading-mission  {
  float: left;
  margin-left: 2em;
  margin-right: 2em;
}

table {
  margin-left: auto;
  margin-right: auto;
}
th {
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 20px;
}
tbody tr {
  height: 5em;
}
thead tr {
  height: 1.5em;
  font-weight: 200;
}
body {
  background-color: #DEF2F1;
  margin: 0;
}
.dropdown-item:hover {
  background-color: #2B7A78;
}
.member-month {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.carousel-control-next, .carousel-control-prev {
  opacity: 0.7;
}
