h1.title  {
  text-align: center;
}
.notice h1  {
  font-size: 1.75em;
  font-weight: 800;
}
.notice h4  {
  font-size: 1em;
  font-weight: 200;
}
h1 {
  font-size: 3em;
  font-weight: 600;
}
.title h1 {
  margin-top: 0.25em;
}
h2 {
  font-size: 2.5em;
  font-weight: 500;
}

h3 {
  font-size: 2.3em;
  font-weight: 300;
  font-style: italic:
}
h4 {
  font-size: 2em;
  font-weight: 275;
}
h5 {
  font-size: 1.8em;
  font-weight: 225;
}
h6 {
  font-size: 1.5em;
  font-weight: 175;
}
h7 {
  font-size: 1.2em;
  font-weight: 100;
}
.heading-sub h3, .flexbox2col-left h3 {
  font-style: italic;
  font-size: 1.6em;
}
.carousel-caption d-none d-md-block {
  background-color: gray;
  opacity: 0.5;
}
