h1.title  {
  font-size: 2em;
  text-align: center;
  font-weight: 600;
}
.notice h1  {
  font-size: 1.5em;
  font-weight: 800;
}
.notice h3  {
  font-size: 1em;
  font-weight: 200;
}
.heading-sub h1 {
  font-size: 2em;
  font-weight: 600;
}
.heading-sub h2 {
  font-size: 1.25em;
  font-weight: 300;
  font-style: italic;
}
.heading-sub h3 {
  font-size: 1em;
  font-weight: 200;
}
