h1.title  {
  text-align: center;
}
.notice h1  {
  font-size: 1.75em;
  font-weight: 800;
}
.notice h4  {
  font-size: 1.2em;
  font-weight: 200;
}
.notice h6 {
  font-size: 1em;
}

.title h1 {
  margin-top: 0.25em;
}
h1 {
  font-size: 2.65em;
  font-weight: 500;
}

h2 {
  font-size: 2.3em;
  font-weight: 300;
  font-style: italic:
}
h2.subtitle {
  margin-left: 3em;
}
h3 {
  font-size: 2em;
  font-weight: 275;
}
h4 {
  font-size: 1.8em;
  font-weight: 225;
}
h5 {
  font-size: 1.5em;
  font-weight: 175;
}
h6 {
  font-size: 1.2em;
  font-weight: 100;
}
.heading-sub h3, .flexbox2col-left h3 {
  font-style: italic;
  font-size: 1.6em;
}
.carousel-caption d-none d-md-block {
  background-color: var(--carousel-caption-text-color);
  opacity: 0.5;
}
/* h1, h2, h3, h4, h5, h6 {
  font-family: "Gudea", sans-serif;
}
p {
  font-family: "Lato", sans-serif;
} */
