section {
  background-color: #DEF2F1;
}
section.important-bg {
  background-color: black;
}
section.subject, section.left-oriented {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  display: block;
}
section.subject {
  text-align: center;
}
section.calendar {
  text-align: center;
}
