section.important-bg {
  background-color: var(--notice-bg-color);
}
section.subject, section.left-oriented {
  margin-left: 4em;
  margin-right: 4em;
  display: block;
}
section.subject {
  text-align: center;
}
section.calendar {
  text-align: center;
}
section.calendar iframe {
  width: 80%;
}
section.title{
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}
section.mission h2 {
  text-align: center;
}
section {
  padding-top: 2em;
  padding-bottom: 2em;
}
