section {
  background-color: #DEF2F1;
}
section.important-bg {
  background-color: black;
}
section.subject, section.left-oriented {
  margin-left: 4em;
  margin-right: 4em;
  display: block;
}
section.subject {
  text-align: center;
}
section.calendar {
  text-align: center;
}
section.title h1, section.title h2 {
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}
section.mission h2 {
  text-align: center;
}
section {
  padding-top: 2em;
  padding-bottom: 2em;
}
